<a href="https://colab.research.google.com/github/hawkeyedatatsai/food-sales-predictions/blob/main/Heng_Tser_Tsai_Food_Sales_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Food Sales Predictions**
##### Heng-Tser Tsai

## Loading Data

In [1]:
import pandas as pd
filename = "/content/sales_predictions.csv"
df = pd.read_csv(filename)

In [2]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

## Data Cleaning

1. How many rows and columns

In [3]:
df.shape

(8523, 12)

2. What are the datatypes of each variable?

In [4]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

3. Are there duplicates? If so, drop any duplicates.

In [5]:
df.duplicated().sum()

0

4. Identify missing values.

In [6]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

5. Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

My initial thought process

(1) not going to drop the columns, since they have 17% and 28% missing data from quick calculation.

(2) analysizing missing values on Item_Weight through either Item_Type or Item_Fat_Content, then decided to start with Item_Type first because it makes sense that the weight is correspond with items & there are probably more filters to apply between items and fat_content at first 5 rows (5:3).

(2.1) find the avg Item_Weight on Item_Type and fill back the data

(3) analysizing missing values on Outlet_Size, safe to assume size has to do with either outlet location or sales price. decide to go w/ sales price because they are ints then categorize NAN and see if they are close to other values.

(3.1) combine NAN to the closest Outlet_Size

In [7]:
df.loc[:, 'Item_Weight'].describe()
#std>4 so confirm its not normal distributed and not to drop

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

In [8]:
Item_weight_missing_values_filter = df['Item_Weight'].isna()
df[Item_weight_missing_values_filter][['Item_Weight', "Item_Type"]]
#finds out 1463 rows w/ missing Item_Weight

      Item_Weight              Item_Type
7             NaN            Snack Foods
18            NaN            Hard Drinks
21            NaN           Baking Goods
23            NaN           Baking Goods
29            NaN                 Canned
...           ...                    ...
8485          NaN            Soft Drinks
8487          NaN            Soft Drinks
8488          NaN                 Others
8490          NaN  Fruits and Vegetables
8504          NaN              Household

[1463 rows x 2 columns]

In [9]:
df['Item_Type'].describe()
#find out there are 16 unique item_types

count                      8523
unique                       16
top       Fruits and Vegetables
freq                       1232
Name: Item_Type, dtype: object

In [10]:
#find each Item_Type avg weight
df.groupby('Item_Type').mean()["Item_Weight"]

Item_Type
Baking Goods             12.277108
Breads                   11.346936
Breakfast                12.768202
Canned                   12.305705
Dairy                    13.426069
Frozen Foods             12.867061
Fruits and Vegetables    13.224769
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.817344
Others                   13.853285
Seafood                  12.552843
Snack Foods              12.987880
Soft Drinks              11.847460
Starchy Foods            13.690731
Name: Item_Weight, dtype: float64

In [11]:
#found a way on stackflow to fill missing values by mean within a group
#df['value'] = df['value'].fillna(df.groupby('name')['value'].transform('mean'))
df['Item_Weight'] = df['Item_Weight'].fillna(df.groupby('Item_Type')['Item_Weight'].transform('mean'))
df[Item_weight_missing_values_filter][['Item_Weight', "Item_Type"]]

      Item_Weight              Item_Type
7       12.987880            Snack Foods
18      11.400328            Hard Drinks
21      12.277108           Baking Goods
23      12.277108           Baking Goods
29      12.305705                 Canned
...           ...                    ...
8485    11.847460            Soft Drinks
8487    11.847460            Soft Drinks
8488    13.853285                 Others
8490    13.224769  Fruits and Vegetables
8504    13.384736              Household

[1463 rows x 2 columns]

In [12]:
#option: maybe able to apply the same strategy from Item_Fat_Content
df.loc[:, 'Item_Fat_Content'].describe()

count        8523
unique          5
top       Low Fat
freq         5089
Name: Item_Fat_Content, dtype: object

In [13]:
df.isna().sum()
#confirm no more missing data on Item_Weight

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [14]:
#find out how many NANs are
df['Outlet_Size'].value_counts(dropna = False)

Medium    2793
NaN       2410
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [15]:
#apply similiar strategy from above to find each Outlet_Size avg Item_Outlet_Sales
df.groupby('Outlet_Size',dropna = False).mean()["Item_Outlet_Sales"]

Outlet_Size
High      2298.995256
Medium    2681.603542
Small     1912.149161
NaN       1822.626947
Name: Item_Outlet_Sales, dtype: float64

In [16]:
#since avg sales of nan are close to small, fill small to nan
df['Outlet_Size'].fillna("Small", inplace=True)
df['Outlet_Size'].value_counts(dropna = False)

Small     4798
Medium    2793
High       932
Name: Outlet_Size, dtype: int64

In [17]:
df.isna().sum()
#confirm no more missing data

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

6. Confirm that there are no missing values after addressing them.

In [18]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

7. Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent).

In [19]:
# dont see inconsistent at the moment after confirming no missing value 
##whilst on df.dtypes they seem to match who they are from the original df

8. For any numerical columns, obtain the summary statistics of each (min, max, mean).

In [20]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857890,0.066132,140.992782,1997.831867,2181.288914
std,4.232804,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,9.310000,0.026989,93.826500,1987.000000,834.247400
50%,12.867061,0.053931,143.012800,1999.000000,1794.331000
75%,16.000000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

## Exploratory Visuals


## Explanatory Visuals